iframe.panel {
    width: 100%;
    height: 100%;
    border: 0px;
}

.non-interactive {
    pointer-events: none;
}

.hidden {
    display: none;
}

.fill-h {
    height: 100%;
}

.fill-w {
    width: 100%;
}